<h1>Welcome to Reservester!</h1>
<div class="row well">
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone number</th>
      <th>Address</th>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @restaurants.each do |restaurant| %>
      <tr>
        <td><%= restaurant.name %></td>
        <td><%= restaurant.phone_number %></td>
        <td><%= restaurant.address %></td>
        <td><%= restaurant.description %></td>
<!-- Update the Restaurant Index view to display the thumbnail -->
        <td><%= link_to 'Show', restaurant %></td>
<!-- Display the total count of Restaurants within each Category on the link -->
        <td><%#= link_to 'Show', category %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<!-- Display the total count of Restaurants within each Category on the link -->
<div class="row">
<div class="well col-md-2">
<table class="table">
  <thead>
    <tr>
      <th>Category</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= link_to 'Show', category %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
<!-- Update the views to only display to logged in users: a. the New Restaurant path to any user -->
<div class="row">
<div class="well">
<% if user_signed_in? %> 
  <%= link_to 'New Restaurant', new_restaurant_path %>
<% end %> 
</div>
</div>


