<h1>Welcome to Reservester!</h1>

<table class="table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone number</th>
      <th>Address</th>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @restaurants.each do |restaurant| %>
      <tr>
        <td><%= restaurant.name %></td>
        <td><%= restaurant.phone_number %></td>
        <td><%= restaurant.address %></td>
        <td><%= restaurant.description %></td>
<!-- Update the Restaurant Index view to display the thumbnail -->
        <td><%= link_to 'Show', restaurant %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<!-- Update the views to only display to logged in Owners: a. the New Restaurant path to any Owner -->
<% if owner_signed_in? %> 
  <%= link_to 'New Restaurant', new_restaurant_path %>
<% end %> 


