
<h1>Show!</h1>

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>
<!-- 4. Update the Restaurant Show view to display the Restaurant’s Owner’s name -->
<p>
  <strong>Restaurant owner:</strong>
  <%= @restaurant.owner.name %>
</p>
<!-- If logged in as owner, show reservations -->
<% if current_owner == @restaurant.owner %>
<h2>Reservations</h2>
    <table>
      <tr>
        <th>Email</th>
        <th>Reserved On</th>
        <th>Message</th>
        <th></th>
      </tr>
      <%- @restaurant.reservations.each do |reservation| %>
        <tr>
          <td><%= reservation.email %></td>
          <td><%= reservation.reserve_on %></td>
          <td><%= reservation.message %></td>

    <%= link_to 'Mark as Confirmed', [reservation.restaurant, reservation],
                 method: :delete,
                 data: { confirm: 'Are you sure?' } %>
        
        </tr>
      <%- end %>
    </table>
<% end %>
<h2>Become a owner</h2>

<p>
  <strong>Phone number:</strong>
  <%= @restaurant.phone_number %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Description:</strong>
  <%= @restaurant.description %>
</p>

<!-- Update the Restaurant Show view to display the masthead -->
<p>
  <strong>Photo:</strong>
  <!-- <img src="<%= @restaurant.photo.url %>" /> -->
  <%= image_tag @restaurant.photo.masthead.url if @restaurant.photo? %>
</p>

<h1>New Reservation</h1>
<div>
<ol>
<%= form_for([@restaurant, @reservation]) do |f| %>
  <% if @reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this restaurant from being saved:</h2>

      <ul>
      <% @reservation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :email %>
    <div class="controls">
      <%= f.email_field :email %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :reserve_on %>
    <div class="controls">
      <%= f.datetime_select :reserve_on %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :message%>
    <div class="controls">
      <%= f.text_field :message %>
    </div>
  </div>

  <div class="control-group">
    <%= f.submit :class => 'btn' %>
  </div>
<% end %>



<!-- <p><img src="http://maps.googleapis.com/maps/api/staticmap?center=New+York,NY&zoom=13&size=600x300&AIzaSyAizj5DwSf-rldrjdmP0pYjaerIaKeyHvI=API_KEY"></p> -->
<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Destroy', restaurant_path(@restaurant), :method => :delete, :confirm => 'Are you sure that you want to delete this restaurant?' %> | 
<%#= link_to('Logout', destroy_user_session_path, :method => 'delete') %> |
<%= link_to 'Back', restaurants_path %>

<!-- b. the Edit & Destroy paths to only the Restaurant’s Owner -->
<%#= link_to_if(current_owner == @restaurant.owner) 'Edit', edit_restaurant_path(@restaurant) %> |
<%#= link_to_if(current_owner == @restaurant.owner) 'Remove', restaurant_path(@restaurant), method: :delete %>